body {
    transition: background-color 0.3s ease, color 0.3s ease; /* Aggiunge una transizione fluida */
  }
  
  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  body.dark-mode a {
    color: #0d6efd;
  }
  
  body.dark-mode a:hover {
    text-decoration: underline;
  }

  .hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .hover-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }
  
  .card img {
    transition: transform 0.3s ease;
  }
  
  .hover-card:hover img {
    transform: scale(1.1);
  }

  .text-muted {
    color: #6c757d !important; 
  }
  
  .text-black {
    color: #000 !important; 
    font-weight: bold !important; 
    font-size: 1.7rem;
  }